.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__yc5Xq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.freeBox__nBtj0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ppd7N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 8px;
}
.freeBox___2U0R8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___2U0R8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox___2U0R8 > :global(.__wab_flex-container) > *,
.freeBox___2U0R8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2U0R8 > :global(.__wab_flex-container) > picture > img,
.freeBox___2U0R8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__itAzO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #26e53b;
}
.h5___04WH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__gXxzS {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__gXxzS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__gXxzS > :global(.__wab_flex-container) > *,
.freeBox__gXxzS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gXxzS > :global(.__wab_flex-container) > picture > img,
.freeBox__gXxzS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.button {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding: 10px;
}
.freeBox__p2X1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bqsl7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 150px 35px;
}
.freeBox__bqsl7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.freeBox__bqsl7 > :global(.__wab_flex-container) > *,
.freeBox__bqsl7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bqsl7 > :global(.__wab_flex-container) > picture > img,
.freeBox__bqsl7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
.freeBox__anqZa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__anqZa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__anqZa > :global(.__wab_flex-container) > *,
.freeBox__anqZa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__anqZa > :global(.__wab_flex-container) > picture > img,
.freeBox__anqZa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 63px;
  min-width: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  min-width: 0;
}
.h4__oIg2I {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.h4__ggkz6 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
