.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
    0deg,
    #cfd4dc 18%,
    #f5f5ed 57%,
    #f5f5ed 84%,
    #edf1f4 100%
  );
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__vnFQh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.header:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__rxHud {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__nj5YB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nj5YB {
    padding: 0px 24px;
  }
}
.freeBox__rmFif {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 75px 0px;
}
.freeBox__rmFif > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.freeBox__rmFif > :global(.__wab_flex-container) > *,
.freeBox__rmFif > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rmFif > :global(.__wab_flex-container) > picture > img,
.freeBox__rmFif
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rmFif {
    padding: 75px 25px;
  }
}
.freeBox__kTsO5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kTsO5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__kTsO5 > :global(.__wab_flex-container) > *,
.freeBox__kTsO5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kTsO5 > :global(.__wab_flex-container) > picture > img,
.freeBox__kTsO5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__bnSvx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bnSvx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__bnSvx > :global(.__wab_flex-container) > *,
.freeBox__bnSvx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bnSvx > :global(.__wab_flex-container) > picture > img,
.freeBox__bnSvx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h1 {
  width: 795px;
  height: auto;
  max-width: 100%;
  font-size: 55px;
  padding-right: 0px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 36px;
    text-align: left;
  }
}
.h3 {
  position: relative;
  width: 571px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: var(--token-8nbRbOL4D);
    text-align: left;
  }
}
.span__b8FRs {
  font-size: 28px;
}
.span__s8Mp8 {
  font-size: 28px;
}
.span__h6Btv {
  font-size: 28px;
}
.span__tJjZw {
  font-size: 28px;
}
.onClickOpenDepositModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__nW77K:global(.__wab_instance) {
  max-width: 750px;
  position: relative;
  width: 100%;
  margin-top: 80px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__nW77K:global(.__wab_instance) {
    width: 100%;
    margin-top: 40px;
    min-width: 0;
  }
}
.svg__uOe0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qp8G {
  font-weight: 400;
  font-size: var(--token-8nbRbOL4D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qp8G {
    font-size: 24px;
  }
}
.svg__fo4Vq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__vAi6C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vAi6C {
    padding: 0px 24px;
  }
}
.freeBox__czd0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 75px 0px;
}
.freeBox__czd0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.freeBox__czd0 > :global(.__wab_flex-container) > *,
.freeBox__czd0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czd0 > :global(.__wab_flex-container) > picture > img,
.freeBox__czd0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__czd0 {
    padding: 75px 25px;
  }
}
.columns___6Og7R {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns___6Og7R > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns___6Og7R > :global(.__wab_flex-container) > *,
.columns___6Og7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6Og7R > :global(.__wab_flex-container) > picture > img,
.columns___6Og7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns___6Og7R {
  --plsmc-rc-col-gap: 0px;
}
.columns___6Og7R > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___6Og7R > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6Og7R {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6Og7R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6Og7R > :global(.__wab_flex-container) > *,
  .columns___6Og7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___6Og7R > :global(.__wab_flex-container) > picture > img,
  .columns___6Og7R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6Og7R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tAcp6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__nVxFe {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nVxFe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__nVxFe > :global(.__wab_flex-container) > *,
.freeBox__nVxFe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nVxFe > :global(.__wab_flex-container) > picture > img,
.freeBox__nVxFe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2___1QzwO {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___1QzwO {
    font-size: var(--token-8nbRbOL4D);
  }
}
.h4__tZAs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
  font-family: "Anonymous Pro";
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__tZAs {
    font-size: var(--token-b-YX1IU6q);
  }
}
.column__qSgU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__qSgU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.column__qSgU > :global(.__wab_flex-container) > *,
.column__qSgU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qSgU > :global(.__wab_flex-container) > picture > img,
.column__qSgU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox__gPz63 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gPz63 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__gPz63 > :global(.__wab_flex-container) > *,
.freeBox__gPz63 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gPz63 > :global(.__wab_flex-container) > picture > img,
.freeBox__gPz63
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.img___9V8Pq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 700px;
  margin-bottom: 0px;
}
.img___9V8Pq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9V8Pq {
    max-height: 1511px;
    height: 734px;
  }
}
.freeBox__jIdGo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jIdGo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__jIdGo > :global(.__wab_flex-container) > *,
.freeBox__jIdGo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jIdGo > :global(.__wab_flex-container) > picture > img,
.freeBox__jIdGo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jIdGo {
    height: auto;
  }
}
.freeBox__sPaS {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sPaS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__sPaS > :global(.__wab_flex-container) > *,
.freeBox__sPaS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sPaS > :global(.__wab_flex-container) > picture > img,
.freeBox__sPaS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.h2___1HlnD {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___1HlnD {
    font-size: var(--token-8nbRbOL4D);
  }
}
.h4__v4M0M {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__v4M0M {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__cTvBw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__cTvBw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cTvBw > :global(.__wab_flex-container) > *,
.freeBox__cTvBw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cTvBw > :global(.__wab_flex-container) > picture > img,
.freeBox__cTvBw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__dXwfA {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 45px;
  flex-shrink: 0;
}
.img__dXwfA > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dXwfA {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__iJyM {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__iJyM {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__ioIvD {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__ioIvD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ioIvD > :global(.__wab_flex-container) > *,
.freeBox__ioIvD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioIvD > :global(.__wab_flex-container) > picture > img,
.freeBox__ioIvD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__uriZ {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 45px;
  flex-shrink: 0;
}
.img__uriZ > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uriZ {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__cbnj3 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__cbnj3 {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__oyYr9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__oyYr9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__oyYr9 > :global(.__wab_flex-container) > *,
.freeBox__oyYr9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oyYr9 > :global(.__wab_flex-container) > picture > img,
.freeBox__oyYr9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__lnBz4 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 45px;
  flex-shrink: 0;
}
.img__lnBz4 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lnBz4 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__tQhr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__tQhr {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__lwJt8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__lwJt8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lwJt8 > :global(.__wab_flex-container) > *,
.freeBox__lwJt8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lwJt8 > :global(.__wab_flex-container) > picture > img,
.freeBox__lwJt8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__kBbft {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 45px;
  flex-shrink: 0;
}
.img__kBbft > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kBbft {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4___86FzW {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4___86FzW {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__omxr0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__omxr0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__omxr0 > :global(.__wab_flex-container) > *,
.freeBox__omxr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__omxr0 > :global(.__wab_flex-container) > picture > img,
.freeBox__omxr0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.button__qYlue:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__z3Lo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3Kthh {
  font-size: var(--token-b-YX1IU6q);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3Kthh {
    font-size: var(--token-b-YX1IU6q);
  }
}
.svg___0X6GY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__inrEu {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #cfd4dc 0%, #f5f5ed 100%);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox___17L8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 75px 0px;
}
.freeBox___17L8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.freeBox___17L8 > :global(.__wab_flex-container) > *,
.freeBox___17L8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___17L8 > :global(.__wab_flex-container) > picture > img,
.freeBox___17L8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___17L8 {
    padding: 75px 25px;
  }
}
.columns__saXwo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__saXwo > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__saXwo > :global(.__wab_flex-container) > *,
.columns__saXwo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__saXwo > :global(.__wab_flex-container) > picture > img,
.columns__saXwo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__saXwo {
  --plsmc-rc-col-gap: 0px;
}
.columns__saXwo > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__saXwo > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__saXwo {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__saXwo > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__saXwo > :global(.__wab_flex-container) > *,
  .columns__saXwo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__saXwo > :global(.__wab_flex-container) > picture > img,
  .columns__saXwo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__saXwo > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uq8M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__haJ3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__haJ3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__haJ3 > :global(.__wab_flex-container) > *,
.freeBox__haJ3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__haJ3 > :global(.__wab_flex-container) > picture > img,
.freeBox__haJ3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2__pQOnZ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__pQOnZ {
    font-size: var(--token-8nbRbOL4D);
  }
}
.h4__sB3PC {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
  font-family: "Anonymous Pro";
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__sB3PC {
    font-size: var(--token-b-YX1IU6q);
  }
}
.column__zSexF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__zSexF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.column__zSexF > :global(.__wab_flex-container) > *,
.column__zSexF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zSexF > :global(.__wab_flex-container) > picture > img,
.column__zSexF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox__eD8VP {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eD8VP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__eD8VP > :global(.__wab_flex-container) > *,
.freeBox__eD8VP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eD8VP > :global(.__wab_flex-container) > picture > img,
.freeBox__eD8VP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.img___6LiaO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 1373px;
  margin-bottom: 0px;
}
.img___6LiaO > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6LiaO {
    max-height: 1511px;
    height: 883px;
  }
}
.freeBox__yYg8K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__yYg8K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__yYg8K > :global(.__wab_flex-container) > *,
.freeBox__yYg8K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yYg8K > :global(.__wab_flex-container) > picture > img,
.freeBox__yYg8K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yYg8K {
    height: auto;
  }
}
.freeBox__kwTvb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kwTvb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__kwTvb > :global(.__wab_flex-container) > *,
.freeBox__kwTvb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwTvb > :global(.__wab_flex-container) > picture > img,
.freeBox__kwTvb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.h2__kl7Kh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__kl7Kh {
    font-size: var(--token-8nbRbOL4D);
  }
}
.freeBox__mqT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__mqT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__mqT > :global(.__wab_flex-container) > *,
.freeBox__mqT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqT > :global(.__wab_flex-container) > picture > img,
.freeBox__mqT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__mbi2X {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__mbi2X > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mbi2X {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__m9XqT {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__m9XqT {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__b4X2W {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__b4X2W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__b4X2W > :global(.__wab_flex-container) > *,
.freeBox__b4X2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b4X2W > :global(.__wab_flex-container) > picture > img,
.freeBox__b4X2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img___0HGyA {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img___0HGyA > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___0HGyA {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__oUoE1 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__oUoE1 {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__j6ZRt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__j6ZRt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__j6ZRt > :global(.__wab_flex-container) > *,
.freeBox__j6ZRt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j6ZRt > :global(.__wab_flex-container) > picture > img,
.freeBox__j6ZRt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__ig9Pi {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__ig9Pi > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ig9Pi {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__tKm5 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__tKm5 {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__uZeGe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__uZeGe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__uZeGe > :global(.__wab_flex-container) > *,
.freeBox__uZeGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uZeGe > :global(.__wab_flex-container) > picture > img,
.freeBox__uZeGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__wwmvJ {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__wwmvJ > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wwmvJ {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.h4__kz88K {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__kz88K {
    font-size: var(--token-b-YX1IU6q);
  }
}
.freeBox__f15HC {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__f15HC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__f15HC > :global(.__wab_flex-container) > *,
.freeBox__f15HC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f15HC > :global(.__wab_flex-container) > picture > img,
.freeBox__f15HC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2___6NBfs {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___6NBfs {
    font-size: var(--token-8nbRbOL4D);
  }
}
.h4__zgSwt {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-8nbRbOL4D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__zgSwt {
    font-size: var(--token-b-YX1IU6q);
  }
}
.button__godbs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xf16U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yRvuv {
  font-size: var(--token-8nbRbOL4D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yRvuv {
    font-size: var(--token-b-YX1IU6q);
  }
}
.svg__uBu6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.footerClicked:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
