@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Oxygen+Mono%3Aital%2Cwght%400%2C400&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-OvRly4y3P: 1300px;
  --plasmic-token-max-page-width: var(--token-OvRly4y3P);
  --token-gGQoVGJZg: #000000bf;
  --plasmic-token-black-85: var(--token-gGQoVGJZg);
  --token-8nbRbOL4D: 32px;
  --plasmic-token-large: var(--token-8nbRbOL4D);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ) {
  --mixin-QoVGOlMFasvKS_font-family: "Inter", sans-serif;
  --mixin-QoVGOlMFasvKS_font-size: 16px;
  --mixin-QoVGOlMFasvKS_font-weight: 400;
  --mixin-QoVGOlMFasvKS_font-style: normal;
  --mixin-QoVGOlMFasvKS_color: #535353;
  --mixin-QoVGOlMFasvKS_text-align: left;
  --mixin-QoVGOlMFasvKS_text-transform: none;
  --mixin-QoVGOlMFasvKS_line-height: 1.5;
  --mixin-QoVGOlMFasvKS_letter-spacing: normal;
  --mixin-QoVGOlMFasvKS_white-space: pre-wrap;
  --mixin-QoVGOlMFasvKS_user-select: text;
  --mixin-QoVGOlMFasvKS_text-decoration-line: none;
  --mixin-QoVGOlMFasvKS_text-overflow: clip;
  --mixin-tXnGsbEpWKjAj_color: #000000;
  --mixin-tXnGsbEpWKjAj_font-weight: 700;
  --mixin-tXnGsbEpWKjAj_font-size: 64px;
  --mixin-tXnGsbEpWKjAj_line-height: 1;
  --mixin-tXnGsbEpWKjAj_letter-spacing: -1px;
  --mixin-tXnGsbEpWKjAj_white-space: pre-wrap;
  --mixin-QO3sRxH8yZ4Ty_color: #000000;
  --mixin-QO3sRxH8yZ4Ty_font-size: 48px;
  --mixin-QO3sRxH8yZ4Ty_font-weight: 700;
  --mixin-QO3sRxH8yZ4Ty_letter-spacing: -0.5px;
  --mixin-QO3sRxH8yZ4Ty_line-height: 1.1;
  --mixin-QO3sRxH8yZ4Ty_white-space: pre-wrap;
  --mixin-0QZhYIEZTUH99_color: #0070f3;
  --mixin-0QZhYIEZTUH99_white-space: pre-wrap;
  --mixin-tkW_uHIGgI2RN_color: #000000;
  --mixin-tkW_uHIGgI2RN_font-size: 32px;
  --mixin-tkW_uHIGgI2RN_font-weight: 600;
  --mixin-tkW_uHIGgI2RN_line-height: 1.2;
  --mixin-tkW_uHIGgI2RN_white-space: pre-wrap;
  --mixin-Aoz6p65PuKj-R_color: #000000;
  --mixin-Aoz6p65PuKj-R_font-size: 24px;
  --mixin-Aoz6p65PuKj-R_font-weight: 400;
  --mixin-Aoz6p65PuKj-R_letter-spacing: -0.5px;
  --mixin-Aoz6p65PuKj-R_line-height: 1.3;
  --mixin-Aoz6p65PuKj-R_font-family: "Oxygen Mono";
  --mixin-Aoz6p65PuKj-R_white-space: pre-wrap;
  --mixin-Yx6hZHUIE63K__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Yx6hZHUIE63K__border-bottom-color: #dddddd;
  --mixin-Yx6hZHUIE63K__border-bottom-style: solid;
  --mixin-Yx6hZHUIE63K__border-bottom-width: 1px;
  --mixin-Yx6hZHUIE63K__border-left-color: #dddddd;
  --mixin-Yx6hZHUIE63K__border-left-style: solid;
  --mixin-Yx6hZHUIE63K__border-left-width: 1px;
  --mixin-Yx6hZHUIE63K__border-right-color: #dddddd;
  --mixin-Yx6hZHUIE63K__border-right-style: solid;
  --mixin-Yx6hZHUIE63K__border-right-width: 1px;
  --mixin-Yx6hZHUIE63K__border-top-color: #dddddd;
  --mixin-Yx6hZHUIE63K__border-top-style: solid;
  --mixin-Yx6hZHUIE63K__border-top-width: 1px;
  --mixin-Yx6hZHUIE63K__border-bottom-left-radius: 3px;
  --mixin-Yx6hZHUIE63K__border-bottom-right-radius: 3px;
  --mixin-Yx6hZHUIE63K__border-top-left-radius: 3px;
  --mixin-Yx6hZHUIE63K__border-top-right-radius: 3px;
  --mixin-Yx6hZHUIE63K__font-family: "Inconsolata";
  --mixin-Yx6hZHUIE63K__padding-bottom: 1px;
  --mixin-Yx6hZHUIE63K__padding-left: 4px;
  --mixin-Yx6hZHUIE63K__padding-right: 4px;
  --mixin-Yx6hZHUIE63K__padding-top: 1px;
  --mixin-Yx6hZHUIE63K__white-space: pre-wrap;
  --mixin-BDfIohXDTa2UW_border-left-color: #dddddd;
  --mixin-BDfIohXDTa2UW_border-left-style: solid;
  --mixin-BDfIohXDTa2UW_border-left-width: 3px;
  --mixin-BDfIohXDTa2UW_color: #888888;
  --mixin-BDfIohXDTa2UW_padding-left: 10px;
  --mixin-BDfIohXDTa2UW_white-space: pre-wrap;
  --mixin-rHxBLgmVTC6Q8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rHxBLgmVTC6Q8_border-bottom-color: #dddddd;
  --mixin-rHxBLgmVTC6Q8_border-bottom-style: solid;
  --mixin-rHxBLgmVTC6Q8_border-bottom-width: 1px;
  --mixin-rHxBLgmVTC6Q8_border-left-color: #dddddd;
  --mixin-rHxBLgmVTC6Q8_border-left-style: solid;
  --mixin-rHxBLgmVTC6Q8_border-left-width: 1px;
  --mixin-rHxBLgmVTC6Q8_border-right-color: #dddddd;
  --mixin-rHxBLgmVTC6Q8_border-right-style: solid;
  --mixin-rHxBLgmVTC6Q8_border-right-width: 1px;
  --mixin-rHxBLgmVTC6Q8_border-top-color: #dddddd;
  --mixin-rHxBLgmVTC6Q8_border-top-style: solid;
  --mixin-rHxBLgmVTC6Q8_border-top-width: 1px;
  --mixin-rHxBLgmVTC6Q8_border-bottom-left-radius: 3px;
  --mixin-rHxBLgmVTC6Q8_border-bottom-right-radius: 3px;
  --mixin-rHxBLgmVTC6Q8_border-top-left-radius: 3px;
  --mixin-rHxBLgmVTC6Q8_border-top-right-radius: 3px;
  --mixin-rHxBLgmVTC6Q8_font-family: "Inconsolata";
  --mixin-rHxBLgmVTC6Q8_padding-bottom: 3px;
  --mixin-rHxBLgmVTC6Q8_padding-left: 6px;
  --mixin-rHxBLgmVTC6Q8_padding-right: 6px;
  --mixin-rHxBLgmVTC6Q8_padding-top: 3px;
  --mixin-rHxBLgmVTC6Q8_white-space: pre-wrap;
  --mixin-rojtnDu_GoCwI_display: flex;
  --mixin-rojtnDu_GoCwI_flex-direction: column;
  --mixin-rojtnDu_GoCwI_align-items: stretch;
  --mixin-rojtnDu_GoCwI_justify-content: flex-start;
  --mixin-rojtnDu_GoCwI_list-style-position: outside;
  --mixin-rojtnDu_GoCwI_padding-left: 40px;
  --mixin-rojtnDu_GoCwI_position: relative;
  --mixin-rojtnDu_GoCwI_list-style-type: disc;
  --mixin-rojtnDu_GoCwI_white-space: pre-wrap;
  --mixin-Dzk4PBFp7MMMC_display: flex;
  --mixin-Dzk4PBFp7MMMC_flex-direction: column;
  --mixin-Dzk4PBFp7MMMC_align-items: stretch;
  --mixin-Dzk4PBFp7MMMC_justify-content: flex-start;
  --mixin-Dzk4PBFp7MMMC_list-style-position: outside;
  --mixin-Dzk4PBFp7MMMC_padding-left: 40px;
  --mixin-Dzk4PBFp7MMMC_position: relative;
  --mixin-Dzk4PBFp7MMMC_list-style-type: decimal;
  --mixin-Dzk4PBFp7MMMC_white-space: pre-wrap;
  --mixin-V-vaWXZsaAOSg_color: #000000;
  --mixin-V-vaWXZsaAOSg_font-size: 20px;
  --mixin-V-vaWXZsaAOSg_font-weight: 600;
  --mixin-V-vaWXZsaAOSg_letter-spacing: -0.3px;
  --mixin-V-vaWXZsaAOSg_line-height: 1.5;
  --mixin-V-vaWXZsaAOSg_white-space: pre-wrap;
  --mixin-oylg9hxRfmEse_color: #000000;
  --mixin-oylg9hxRfmEse_font-size: 16px;
  --mixin-oylg9hxRfmEse_font-weight: 600;
  --mixin-oylg9hxRfmEse_line-height: 1.5;
  --mixin-oylg9hxRfmEse_white-space: pre-wrap;
  --mixin-283xvLsDRl-lg_color: #3291ff;
  --mixin-283xvLsDRl-lg_white-space: pre-wrap;
  --mixin-aFGYCMs2YlMue_white-space: pre-wrap;
  --mixin-amR4FwPVZis_9_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-QoVGOlMFasvKS_font-family);
  font-size: var(--mixin-QoVGOlMFasvKS_font-size);
  font-weight: var(--mixin-QoVGOlMFasvKS_font-weight);
  font-style: var(--mixin-QoVGOlMFasvKS_font-style);
  color: var(--mixin-QoVGOlMFasvKS_color);
  text-align: var(--mixin-QoVGOlMFasvKS_text-align);
  text-transform: var(--mixin-QoVGOlMFasvKS_text-transform);
  line-height: var(--mixin-QoVGOlMFasvKS_line-height);
  letter-spacing: var(--mixin-QoVGOlMFasvKS_letter-spacing);
  white-space: var(--mixin-QoVGOlMFasvKS_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-tXnGsbEpWKjAj_color);
  font-weight: var(--mixin-tXnGsbEpWKjAj_font-weight);
  font-size: var(--mixin-tXnGsbEpWKjAj_font-size);
  line-height: var(--mixin-tXnGsbEpWKjAj_line-height);
  letter-spacing: var(--mixin-tXnGsbEpWKjAj_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-QO3sRxH8yZ4Ty_color);
  font-size: var(--mixin-QO3sRxH8yZ4Ty_font-size);
  font-weight: var(--mixin-QO3sRxH8yZ4Ty_font-weight);
  letter-spacing: var(--mixin-QO3sRxH8yZ4Ty_letter-spacing);
  line-height: var(--mixin-QO3sRxH8yZ4Ty_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-0QZhYIEZTUH99_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-tkW_uHIGgI2RN_color);
  font-size: var(--mixin-tkW_uHIGgI2RN_font-size);
  font-weight: var(--mixin-tkW_uHIGgI2RN_font-weight);
  line-height: var(--mixin-tkW_uHIGgI2RN_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Aoz6p65PuKj-R_color);
  font-size: var(--mixin-Aoz6p65PuKj-R_font-size);
  font-weight: var(--mixin-Aoz6p65PuKj-R_font-weight);
  letter-spacing: var(--mixin-Aoz6p65PuKj-R_letter-spacing);
  line-height: var(--mixin-Aoz6p65PuKj-R_line-height);
  font-family: var(--mixin-Aoz6p65PuKj-R_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Yx6hZHUIE63K__font-family);
  border-radius: var(--mixin-Yx6hZHUIE63K__border-top-left-radius)
    var(--mixin-Yx6hZHUIE63K__border-top-right-radius)
    var(--mixin-Yx6hZHUIE63K__border-bottom-right-radius)
    var(--mixin-Yx6hZHUIE63K__border-bottom-left-radius);
  padding: var(--mixin-Yx6hZHUIE63K__padding-top)
    var(--mixin-Yx6hZHUIE63K__padding-right)
    var(--mixin-Yx6hZHUIE63K__padding-bottom)
    var(--mixin-Yx6hZHUIE63K__padding-left);
  border-top: var(--mixin-Yx6hZHUIE63K__border-top-width)
    var(--mixin-Yx6hZHUIE63K__border-top-style)
    var(--mixin-Yx6hZHUIE63K__border-top-color);
  border-right: var(--mixin-Yx6hZHUIE63K__border-right-width)
    var(--mixin-Yx6hZHUIE63K__border-right-style)
    var(--mixin-Yx6hZHUIE63K__border-right-color);
  border-bottom: var(--mixin-Yx6hZHUIE63K__border-bottom-width)
    var(--mixin-Yx6hZHUIE63K__border-bottom-style)
    var(--mixin-Yx6hZHUIE63K__border-bottom-color);
  border-left: var(--mixin-Yx6hZHUIE63K__border-left-width)
    var(--mixin-Yx6hZHUIE63K__border-left-style)
    var(--mixin-Yx6hZHUIE63K__border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-BDfIohXDTa2UW_color);
  padding-left: var(--mixin-BDfIohXDTa2UW_padding-left);
  border-left: var(--mixin-BDfIohXDTa2UW_border-left-width)
    var(--mixin-BDfIohXDTa2UW_border-left-style)
    var(--mixin-BDfIohXDTa2UW_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-rHxBLgmVTC6Q8_font-family);
  border-radius: var(--mixin-rHxBLgmVTC6Q8_border-top-left-radius)
    var(--mixin-rHxBLgmVTC6Q8_border-top-right-radius)
    var(--mixin-rHxBLgmVTC6Q8_border-bottom-right-radius)
    var(--mixin-rHxBLgmVTC6Q8_border-bottom-left-radius);
  padding: var(--mixin-rHxBLgmVTC6Q8_padding-top)
    var(--mixin-rHxBLgmVTC6Q8_padding-right)
    var(--mixin-rHxBLgmVTC6Q8_padding-bottom)
    var(--mixin-rHxBLgmVTC6Q8_padding-left);
  border-top: var(--mixin-rHxBLgmVTC6Q8_border-top-width)
    var(--mixin-rHxBLgmVTC6Q8_border-top-style)
    var(--mixin-rHxBLgmVTC6Q8_border-top-color);
  border-right: var(--mixin-rHxBLgmVTC6Q8_border-right-width)
    var(--mixin-rHxBLgmVTC6Q8_border-right-style)
    var(--mixin-rHxBLgmVTC6Q8_border-right-color);
  border-bottom: var(--mixin-rHxBLgmVTC6Q8_border-bottom-width)
    var(--mixin-rHxBLgmVTC6Q8_border-bottom-style)
    var(--mixin-rHxBLgmVTC6Q8_border-bottom-color);
  border-left: var(--mixin-rHxBLgmVTC6Q8_border-left-width)
    var(--mixin-rHxBLgmVTC6Q8_border-left-style)
    var(--mixin-rHxBLgmVTC6Q8_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-rojtnDu_GoCwI_display);
  flex-direction: var(--mixin-rojtnDu_GoCwI_flex-direction);
  align-items: var(--mixin-rojtnDu_GoCwI_align-items);
  justify-content: var(--mixin-rojtnDu_GoCwI_justify-content);
  list-style-position: var(--mixin-rojtnDu_GoCwI_list-style-position);
  padding-left: var(--mixin-rojtnDu_GoCwI_padding-left);
  position: var(--mixin-rojtnDu_GoCwI_position);
  list-style-type: var(--mixin-rojtnDu_GoCwI_list-style-type);
  flex-column-gap: var(--mixin-rojtnDu_GoCwI_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Dzk4PBFp7MMMC_display);
  flex-direction: var(--mixin-Dzk4PBFp7MMMC_flex-direction);
  align-items: var(--mixin-Dzk4PBFp7MMMC_align-items);
  justify-content: var(--mixin-Dzk4PBFp7MMMC_justify-content);
  list-style-position: var(--mixin-Dzk4PBFp7MMMC_list-style-position);
  padding-left: var(--mixin-Dzk4PBFp7MMMC_padding-left);
  position: var(--mixin-Dzk4PBFp7MMMC_position);
  list-style-type: var(--mixin-Dzk4PBFp7MMMC_list-style-type);
  flex-column-gap: var(--mixin-Dzk4PBFp7MMMC_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-V-vaWXZsaAOSg_color);
  font-size: var(--mixin-V-vaWXZsaAOSg_font-size);
  font-weight: var(--mixin-V-vaWXZsaAOSg_font-weight);
  letter-spacing: var(--mixin-V-vaWXZsaAOSg_letter-spacing);
  line-height: var(--mixin-V-vaWXZsaAOSg_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-oylg9hxRfmEse_color);
  font-size: var(--mixin-oylg9hxRfmEse_font-size);
  font-weight: var(--mixin-oylg9hxRfmEse_font-weight);
  line-height: var(--mixin-oylg9hxRfmEse_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-283xvLsDRl-lg_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
