.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__aUgK1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.freeBox__odphg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__t7Ysl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 8px;
}
.freeBox__lcS4F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__lcS4F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__lcS4F > :global(.__wab_flex-container) > *,
.freeBox__lcS4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lcS4F > :global(.__wab_flex-container) > picture > img,
.freeBox__lcS4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__vSyDi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vSyDi > picture > img {
  object-fit: cover;
}
.img__vSyDi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__gaVrn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h5__brqMc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #26e53b;
}
.freeBox__rDLdA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__rDLdA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__rDLdA > :global(.__wab_flex-container) > *,
.freeBox__rDLdA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rDLdA > :global(.__wab_flex-container) > picture > img,
.freeBox__rDLdA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.button {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding: 10px;
}
.freeBox___3YbeX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__btntn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 150px 35px;
}
.freeBox__btntn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.freeBox__btntn > :global(.__wab_flex-container) > *,
.freeBox__btntn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__btntn > :global(.__wab_flex-container) > picture > img,
.freeBox__btntn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
.freeBox__j7T5V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__j7T5V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__j7T5V > :global(.__wab_flex-container) > *,
.freeBox__j7T5V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7T5V > :global(.__wab_flex-container) > picture > img,
.freeBox__j7T5V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 55px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row-reverse;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
  --plsmc-rc-col-gap: 100px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 100px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__w2FZz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__xpMm7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xpMm7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__xpMm7 > :global(.__wab_flex-container) > *,
.freeBox__xpMm7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xpMm7 > :global(.__wab_flex-container) > picture > img,
.freeBox__xpMm7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__gJbCe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-shrink: 0;
}
.img__gJbCe > picture > img {
  object-fit: cover;
}
.img__gJbCe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__c8UnI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__c8UnI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.freeBox__c8UnI > :global(.__wab_flex-container) > *,
.freeBox__c8UnI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c8UnI > :global(.__wab_flex-container) > picture > img,
.freeBox__c8UnI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox__jDa93 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jDa93 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__jDa93 > :global(.__wab_flex-container) > *,
.freeBox__jDa93 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jDa93 > :global(.__wab_flex-container) > picture > img,
.freeBox__jDa93
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__riewJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  min-width: 0;
}
.freeBox__bpnjp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__bpnjp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bpnjp > :global(.__wab_flex-container) > *,
.freeBox__bpnjp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bpnjp > :global(.__wab_flex-container) > picture > img,
.freeBox__bpnjp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__arr6K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__arr6K > picture > img {
  object-fit: cover;
}
.img__arr6K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__aQ2Ax {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox__joOhA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__joOhA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__joOhA > :global(.__wab_flex-container) > *,
.freeBox__joOhA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__joOhA > :global(.__wab_flex-container) > picture > img,
.freeBox__joOhA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img___8SjNu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img___8SjNu > picture > img {
  object-fit: cover;
}
.img___8SjNu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__xe5Ue {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox__qfHOh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__qfHOh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__qfHOh > :global(.__wab_flex-container) > *,
.freeBox__qfHOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qfHOh > :global(.__wab_flex-container) > picture > img,
.freeBox__qfHOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__kdo57 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__kdo57 > picture > img {
  object-fit: cover;
}
.img__kdo57 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__kfwYp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox__sT3V1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__sT3V1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__sT3V1 > :global(.__wab_flex-container) > *,
.freeBox__sT3V1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sT3V1 > :global(.__wab_flex-container) > picture > img,
.freeBox__sT3V1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__yCSo4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__yCSo4 > picture > img {
  object-fit: cover;
}
.img__yCSo4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4___74WTy {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox__nOiH2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nOiH2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__nOiH2 > :global(.__wab_flex-container) > *,
.freeBox__nOiH2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nOiH2 > :global(.__wab_flex-container) > picture > img,
.freeBox__nOiH2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__r36Wm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  min-width: 0;
}
.freeBox__f27Wm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__f27Wm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__f27Wm > :global(.__wab_flex-container) > *,
.freeBox__f27Wm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f27Wm > :global(.__wab_flex-container) > picture > img,
.freeBox__f27Wm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__ur3CD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__ur3CD > picture > img {
  object-fit: cover;
}
.img__ur3CD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4___3B2Sr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox___9OW4C {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___9OW4C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___9OW4C > :global(.__wab_flex-container) > *,
.freeBox___9OW4C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9OW4C > :global(.__wab_flex-container) > picture > img,
.freeBox___9OW4C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img___1TZu2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img___1TZu2 > picture > img {
  object-fit: cover;
}
.img___1TZu2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__qd1U8 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox___5JAdp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___5JAdp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___5JAdp > :global(.__wab_flex-container) > *,
.freeBox___5JAdp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5JAdp > :global(.__wab_flex-container) > picture > img,
.freeBox___5JAdp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__hOSta {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__hOSta > picture > img {
  object-fit: cover;
}
.img__hOSta > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__u8Pez {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.freeBox___4P1C9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4P1C9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___4P1C9 > :global(.__wab_flex-container) > *,
.freeBox___4P1C9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4P1C9 > :global(.__wab_flex-container) > picture > img,
.freeBox___4P1C9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___97TEh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  min-width: 0;
}
.h4__etEz8 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.ul__kvSez {
  display: flex;
  flex-direction: column;
}
.ul__ofK9N {
  display: flex;
  flex-direction: column;
}
.freeBox___6NRf4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6NRf4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___6NRf4 > :global(.__wab_flex-container) > *,
.freeBox___6NRf4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6NRf4 > :global(.__wab_flex-container) > picture > img,
.freeBox___6NRf4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___6Bvc2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4___3VKvr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: #e2e74e;
}
.freeBox___4WiSm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4WiSm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___4WiSm > :global(.__wab_flex-container) > *,
.freeBox___4WiSm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4WiSm > :global(.__wab_flex-container) > picture > img,
.freeBox___4WiSm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__y5WDt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__p33Xp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: none;
}
.column__lyFjx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__lyFjx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.column__lyFjx > :global(.__wab_flex-container) > *,
.column__lyFjx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lyFjx > :global(.__wab_flex-container) > picture > img,
.column__lyFjx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox__yPPoI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__yPPoI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__yPPoI > :global(.__wab_flex-container) > *,
.freeBox__yPPoI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yPPoI > :global(.__wab_flex-container) > picture > img,
.freeBox__yPPoI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__eicS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-shrink: 0;
}
.img__eicS > picture > img {
  object-fit: cover;
}
.img__eicS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ih7Ze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ih7Ze > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.freeBox__ih7Ze > :global(.__wab_flex-container) > *,
.freeBox__ih7Ze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ih7Ze > :global(.__wab_flex-container) > picture > img,
.freeBox__ih7Ze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox___5Hrgw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5Hrgw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___5Hrgw > :global(.__wab_flex-container) > *,
.freeBox___5Hrgw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Hrgw > :global(.__wab_flex-container) > picture > img,
.freeBox___5Hrgw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___6Rx5D {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4___5EQ9C {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.img__l88Vb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__l88Vb > picture > img {
  object-fit: cover;
}
.img__l88Vb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__qJqHx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qJqHx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__qJqHx > :global(.__wab_flex-container) > *,
.freeBox__qJqHx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qJqHx > :global(.__wab_flex-container) > picture > img,
.freeBox__qJqHx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__erPl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__rppUs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: #e2e74e;
}
.freeBox__oFakw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oFakw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__oFakw > :global(.__wab_flex-container) > *,
.freeBox__oFakw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oFakw > :global(.__wab_flex-container) > picture > img,
.freeBox__oFakw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__oA5Mb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__qQF {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: none;
}
.freeBox___5ZRa3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
