.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #cfd4dc;
  min-width: 0;
  padding: 0px;
}
.freeBox__sBlIm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  background: none;
  min-width: 0;
  padding: 50px 8px;
}
.freeBox__sBlIm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__sBlIm > :global(.__wab_flex-container) > *,
.freeBox__sBlIm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sBlIm > :global(.__wab_flex-container) > picture > img,
.freeBox__sBlIm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__tefAm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__tefAm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__tefAm > :global(.__wab_flex-container) > *,
.freeBox__tefAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tefAm > :global(.__wab_flex-container) > picture > img,
.freeBox__tefAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tefAm {
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tefAm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tefAm > :global(.__wab_flex-container) > *,
  .freeBox__tefAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tefAm > :global(.__wab_flex-container) > picture > img,
  .freeBox__tefAm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 65px;
}
.img > picture > img {
  object-fit: contain;
}
.link__mnMCr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.h5__wyyId {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__wyyId {
    font-size: 16px;
  }
}
.h5__l39Vt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__l39Vt {
    display: none;
  }
}
.link__kidjn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.h5___9KQiC {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5___9KQiC {
    font-size: 16px;
  }
}
