.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__aUgK1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      #000000 0%,
      #963d97 1%,
      #e03a3e 50%,
      #963d97 77%,
      #56b9ff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.header:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___3YbeX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__btntn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OvRly4y3P);
  min-width: 0;
  padding: 150px 35px;
}
.freeBox__btntn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 75px);
  height: calc(100% + 75px);
}
.freeBox__btntn > :global(.__wab_flex-container) > *,
.freeBox__btntn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__btntn > :global(.__wab_flex-container) > picture > img,
.freeBox__btntn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btntn {
    padding-top: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btntn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btntn > :global(.__wab_flex-container) > *,
  .freeBox__btntn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__btntn > :global(.__wab_flex-container) > picture > img,
  .freeBox__btntn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.freeBox__j7T5V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__j7T5V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox__j7T5V > :global(.__wab_flex-container) > *,
.freeBox__j7T5V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7T5V > :global(.__wab_flex-container) > picture > img,
.freeBox__j7T5V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 55px;
  min-width: 0;
}
.columns__hfRm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row-reverse;
  min-width: 0;
  padding: 0px;
}
.columns__hfRm > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
  --plsmc-rc-col-gap: 100px;
}
.columns__hfRm > :global(.__wab_flex-container) > *,
.columns__hfRm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hfRm > :global(.__wab_flex-container) > picture > img,
.columns__hfRm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 100px;
}
.columns__hfRm {
  --plsmc-rc-col-gap: 0px;
}
.columns__hfRm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hfRm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hfRm {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hfRm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 60px);
    width: calc(100% + 60px);
    --plsmc-rc-col-gap: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hfRm > :global(.__wab_flex-container) > *,
  .columns__hfRm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__hfRm > :global(.__wab_flex-container) > picture > img,
  .columns__hfRm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hfRm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__w2FZz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__w2FZz {
    display: none;
  }
}
.freeBox__xpMm7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xpMm7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__xpMm7 > :global(.__wab_flex-container) > *,
.freeBox__xpMm7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xpMm7 > :global(.__wab_flex-container) > picture > img,
.freeBox__xpMm7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__gJbCe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-shrink: 0;
}
.img__gJbCe > picture > img {
  object-fit: cover;
}
.img__gJbCe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__c8UnI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__c8UnI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.freeBox__c8UnI > :global(.__wab_flex-container) > *,
.freeBox__c8UnI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c8UnI > :global(.__wab_flex-container) > picture > img,
.freeBox__c8UnI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox__jDa93 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jDa93 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__jDa93 > :global(.__wab_flex-container) > *,
.freeBox__jDa93 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jDa93 > :global(.__wab_flex-container) > picture > img,
.freeBox__jDa93
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__riewJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.freeBox__bpnjp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__bpnjp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bpnjp > :global(.__wab_flex-container) > *,
.freeBox__bpnjp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bpnjp > :global(.__wab_flex-container) > picture > img,
.freeBox__bpnjp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__arr6K {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__arr6K > picture > img {
  object-fit: contain;
}
.img__arr6K > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__aQ2Ax {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__joOhA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__joOhA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__joOhA > :global(.__wab_flex-container) > *,
.freeBox__joOhA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__joOhA > :global(.__wab_flex-container) > picture > img,
.freeBox__joOhA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img___8SjNu {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img___8SjNu > picture > img {
  object-fit: contain;
}
.img___8SjNu > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__xe5Ue {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__qfHOh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__qfHOh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__qfHOh > :global(.__wab_flex-container) > *,
.freeBox__qfHOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qfHOh > :global(.__wab_flex-container) > picture > img,
.freeBox__qfHOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__kdo57 {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__kdo57 > picture > img {
  object-fit: contain;
}
.img__kdo57 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__kfwYp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__sT3V1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__sT3V1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__sT3V1 > :global(.__wab_flex-container) > *,
.freeBox__sT3V1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sT3V1 > :global(.__wab_flex-container) > picture > img,
.freeBox__sT3V1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__yCSo4 {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__yCSo4 > picture > img {
  object-fit: contain;
}
.img__yCSo4 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4___74WTy {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__nOiH2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nOiH2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__nOiH2 > :global(.__wab_flex-container) > *,
.freeBox__nOiH2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nOiH2 > :global(.__wab_flex-container) > picture > img,
.freeBox__nOiH2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__r36Wm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.freeBox__f27Wm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__f27Wm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__f27Wm > :global(.__wab_flex-container) > *,
.freeBox__f27Wm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f27Wm > :global(.__wab_flex-container) > picture > img,
.freeBox__f27Wm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__ur3CD {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__ur3CD > picture > img {
  object-fit: contain;
}
.img__ur3CD > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4___3B2Sr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox___9OW4C {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___9OW4C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___9OW4C > :global(.__wab_flex-container) > *,
.freeBox___9OW4C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9OW4C > :global(.__wab_flex-container) > picture > img,
.freeBox___9OW4C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img___1TZu2 {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img___1TZu2 > picture > img {
  object-fit: contain;
}
.img___1TZu2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__qd1U8 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox___5JAdp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___5JAdp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___5JAdp > :global(.__wab_flex-container) > *,
.freeBox___5JAdp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5JAdp > :global(.__wab_flex-container) > picture > img,
.freeBox___5JAdp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__hOSta {
  width: 80px;
  object-fit: contain;
  max-width: 100%;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__hOSta > picture > img {
  object-fit: contain;
}
.img__hOSta > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__u8Pez {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox___4P1C9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4P1C9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___4P1C9 > :global(.__wab_flex-container) > *,
.freeBox___4P1C9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4P1C9 > :global(.__wab_flex-container) > picture > img,
.freeBox___4P1C9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___97TEh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.h4__etEz8 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.ul__kvSez {
  display: flex;
  flex-direction: column;
}
.ul__ofK9N {
  display: flex;
  flex-direction: column;
}
.freeBox___6NRf4 {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox___6NRf4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___6NRf4 > :global(.__wab_flex-container) > *,
.freeBox___6NRf4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6NRf4 > :global(.__wab_flex-container) > picture > img,
.freeBox___6NRf4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___6Bvc2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4___3VKvr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: #e2e74e;
}
.freeBox___4WiSm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4WiSm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___4WiSm > :global(.__wab_flex-container) > *,
.freeBox___4WiSm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4WiSm > :global(.__wab_flex-container) > picture > img,
.freeBox___4WiSm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__y5WDt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  padding-bottom: 0px;
  min-width: 0;
}
.h4__p33Xp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
  background: none;
}
.column__lyFjx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__lyFjx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.column__lyFjx > :global(.__wab_flex-container) > *,
.column__lyFjx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lyFjx > :global(.__wab_flex-container) > picture > img,
.column__lyFjx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lyFjx > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lyFjx > :global(.__wab_flex-container) > *,
  .column__lyFjx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__lyFjx > :global(.__wab_flex-container) > picture > img,
  .column__lyFjx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
.freeBox__yPPoI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__yPPoI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__yPPoI > :global(.__wab_flex-container) > *,
.freeBox__yPPoI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yPPoI > :global(.__wab_flex-container) > picture > img,
.freeBox__yPPoI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__eicS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-shrink: 0;
}
.img__eicS > picture > img {
  object-fit: cover;
}
.img__eicS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eicS {
    display: none !important;
  }
}
.freeBox__ih7Ze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ih7Ze > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.freeBox__ih7Ze > :global(.__wab_flex-container) > *,
.freeBox__ih7Ze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ih7Ze > :global(.__wab_flex-container) > picture > img,
.freeBox__ih7Ze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ih7Ze > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ih7Ze > :global(.__wab_flex-container) > *,
  .freeBox__ih7Ze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ih7Ze > :global(.__wab_flex-container) > picture > img,
  .freeBox__ih7Ze
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
.freeBox___5Hrgw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5Hrgw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___5Hrgw > :global(.__wab_flex-container) > *,
.freeBox___5Hrgw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Hrgw > :global(.__wab_flex-container) > picture > img,
.freeBox___5Hrgw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___6Rx5D {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  padding-bottom: 0px;
  min-width: 0;
}
.h4___5EQ9C {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.img__l88Vb {
  position: relative;
  object-fit: contain;
  max-width: 100%;
}
.img__l88Vb > picture > img {
  object-fit: contain;
}
.img__l88Vb > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__qJqHx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qJqHx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__qJqHx > :global(.__wab_flex-container) > *,
.freeBox__qJqHx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qJqHx > :global(.__wab_flex-container) > picture > img,
.freeBox__qJqHx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__erPl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  padding-bottom: 0px;
  min-width: 0;
}
.h4__rppUs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
  background: none;
}
.freeBox__oFakw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oFakw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__oFakw > :global(.__wab_flex-container) > *,
.freeBox__oFakw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oFakw > :global(.__wab_flex-container) > picture > img,
.freeBox__oFakw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__oA5Mb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  padding-bottom: 0px;
  min-width: 0;
}
.h4__qQF {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
  background: none;
}
.columns__mLfNb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row-reverse;
  min-width: 0;
  padding: 0px;
}
.columns__mLfNb > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
  --plsmc-rc-col-gap: 100px;
}
.columns__mLfNb > :global(.__wab_flex-container) > *,
.columns__mLfNb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mLfNb > :global(.__wab_flex-container) > picture > img,
.columns__mLfNb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 100px;
}
.columns__mLfNb {
  --plsmc-rc-col-gap: 0px;
}
.columns__mLfNb > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__mLfNb > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mLfNb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mLfNb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mLfNb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yLgP3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__oi3Vc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oi3Vc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__oi3Vc > :global(.__wab_flex-container) > *,
.freeBox__oi3Vc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oi3Vc > :global(.__wab_flex-container) > picture > img,
.freeBox__oi3Vc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__aikDz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-shrink: 0;
}
.img__aikDz > picture > img {
  object-fit: cover;
}
.img__aikDz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aikDz {
    display: none !important;
  }
}
.freeBox__aqnqF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aqnqF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.freeBox__aqnqF > :global(.__wab_flex-container) > *,
.freeBox__aqnqF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aqnqF > :global(.__wab_flex-container) > picture > img,
.freeBox__aqnqF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
.freeBox__ip9Uk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ip9Uk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__ip9Uk > :global(.__wab_flex-container) > *,
.freeBox__ip9Uk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ip9Uk > :global(.__wab_flex-container) > picture > img,
.freeBox__ip9Uk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___1BwtR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.freeBox__hcaZl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__hcaZl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hcaZl > :global(.__wab_flex-container) > *,
.freeBox__hcaZl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hcaZl > :global(.__wab_flex-container) > picture > img,
.freeBox__hcaZl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img___05Nfo {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img___05Nfo > picture > img {
  object-fit: contain;
}
.img___05Nfo > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__pKwU6 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox___4FEki {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___4FEki > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___4FEki > :global(.__wab_flex-container) > *,
.freeBox___4FEki > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4FEki > :global(.__wab_flex-container) > picture > img,
.freeBox___4FEki
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__iflRt {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__iflRt > picture > img {
  object-fit: contain;
}
.img__iflRt > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__puGa {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__ocklr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__ocklr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ocklr > :global(.__wab_flex-container) > *,
.freeBox__ocklr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocklr > :global(.__wab_flex-container) > picture > img,
.freeBox__ocklr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__seO9X {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__seO9X > picture > img {
  object-fit: contain;
}
.img__seO9X > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__xc8SX {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox___2QCzr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___2QCzr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___2QCzr > :global(.__wab_flex-container) > *,
.freeBox___2QCzr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2QCzr > :global(.__wab_flex-container) > picture > img,
.freeBox___2QCzr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__wvb3J {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__wvb3J > picture > img {
  object-fit: contain;
}
.img__wvb3J > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__k1X1B {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__nuome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nuome > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__nuome > :global(.__wab_flex-container) > *,
.freeBox__nuome > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuome > :global(.__wab_flex-container) > picture > img,
.freeBox__nuome
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__rTj4H {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.freeBox__bRgEe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__bRgEe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bRgEe > :global(.__wab_flex-container) > *,
.freeBox__bRgEe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bRgEe > :global(.__wab_flex-container) > picture > img,
.freeBox__bRgEe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__v1Mdp {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__v1Mdp > picture > img {
  object-fit: contain;
}
.img__v1Mdp > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__llD1 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__ndU80 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__ndU80 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ndU80 > :global(.__wab_flex-container) > *,
.freeBox__ndU80 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ndU80 > :global(.__wab_flex-container) > picture > img,
.freeBox__ndU80
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__cw8Gh {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__cw8Gh > picture > img {
  object-fit: contain;
}
.img__cw8Gh > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4___4Bv4 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__y1KhL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__y1KhL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__y1KhL > :global(.__wab_flex-container) > *,
.freeBox__y1KhL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y1KhL > :global(.__wab_flex-container) > picture > img,
.freeBox__y1KhL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__scXaz {
  object-fit: contain;
  max-width: 100%;
  width: 40px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
}
.img__scXaz > picture > img {
  object-fit: contain;
}
.img__scXaz > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.h4__nadrs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.freeBox__meOby {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__meOby > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__meOby > :global(.__wab_flex-container) > *,
.freeBox__meOby > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__meOby > :global(.__wab_flex-container) > picture > img,
.freeBox__meOby
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2___2PR7C {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.h4__fxFgT {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
}
.ul__js0Rh {
  display: flex;
  flex-direction: column;
}
.ul__vcix1 {
  display: flex;
  flex-direction: column;
}
.freeBox__mHgme {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mHgme > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__mHgme > :global(.__wab_flex-container) > *,
.freeBox__mHgme > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mHgme > :global(.__wab_flex-container) > picture > img,
.freeBox__mHgme
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__h6KGi {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  font-size: var(--token-VpWgElnay);
  min-width: 0;
}
.h4__aRy3 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: #e2e74e;
}
.freeBox__qUUv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qUUv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__qUUv > :global(.__wab_flex-container) > *,
.freeBox__qUUv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qUUv > :global(.__wab_flex-container) > picture > img,
.freeBox__qUUv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__jOoJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VpWgElnay);
  padding-bottom: 0px;
  min-width: 0;
}
.h4___9AfKn {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-b-YX1IU6q);
  background: none;
}
.column__uzZzc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__uzZzc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.column__uzZzc > :global(.__wab_flex-container) > *,
.column__uzZzc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uzZzc > :global(.__wab_flex-container) > picture > img,
.column__uzZzc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uzZzc {
    display: none;
  }
}
.freeBox__qXs0K {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qXs0K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__qXs0K > :global(.__wab_flex-container) > *,
.freeBox__qXs0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qXs0K > :global(.__wab_flex-container) > picture > img,
.freeBox__qXs0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.img__loxTv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 8px;
  flex-shrink: 0;
}
.img__loxTv > picture > img {
  object-fit: cover;
}
.img__loxTv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ywDxn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ywDxn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 125px);
  height: calc(100% + 125px);
}
.freeBox__ywDxn > :global(.__wab_flex-container) > *,
.freeBox__ywDxn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ywDxn > :global(.__wab_flex-container) > picture > img,
.freeBox__ywDxn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 125px;
}
.freeBox___9XkKw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___9XkKw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___9XkKw > :global(.__wab_flex-container) > *,
.freeBox___9XkKw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9XkKw > :global(.__wab_flex-container) > picture > img,
.freeBox___9XkKw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__dheU4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__cqiuf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
}
.img___71T30 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
}
.img___71T30 > picture > img {
  object-fit: contain;
}
.img___71T30 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__xkmij {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xkmij > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__xkmij > :global(.__wab_flex-container) > *,
.freeBox__xkmij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xkmij > :global(.__wab_flex-container) > picture > img,
.freeBox__xkmij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__zwd0Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__z4Ppp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: none;
}
.freeBox__jgaQ5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jgaQ5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__jgaQ5 > :global(.__wab_flex-container) > *,
.freeBox__jgaQ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jgaQ5 > :global(.__wab_flex-container) > picture > img,
.freeBox__jgaQ5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2__cbXtL {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__y8W34 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  background: none;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
